.filter-container {
  display: flex;
  align-items: center;
  height: 130px;
  border-radius: 5px;
  margin: 10px;
  padding-left: 40px;
  background-color: var(--secundary-color);
}

.filter-select__indicator-separator {
  display: none;
}

.filter-select-container {
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;

  color: #8d8d8d;
  border: 1px solid #8d8d8d !important;
  border-radius: 4px !important;
}
