* {
  box-sizing: border-box;
}

:root {
  --primary-color: #e5e5e5;
  --secundary-color: #ffffff;
  --ligth-color: #334ac4;
  --grey-ligth-50-color: #9aaabe;
  --gray-ligth-100-color: #949494;
  --gray-ligth-125-color: #72849a;
  --gray-ligth-150-color: #384459;
  --white-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--ligth-color);
}

.base-card {
  border-radius: 10px;
}

body {
  background-color: var(--primary-color);
}
